<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ERP System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminser</display-name>
    <servlet-name>Adminser</servlet-name>
    <servlet-class>Adminser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminser</servlet-name>
    <url-pattern>/Adminser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager1</display-name>
    <servlet-name>Manager1</servlet-name>
    <servlet-class>Manager1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager1</servlet-name>
    <url-pattern>/Manager1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountant1</display-name>
    <servlet-name>Accountant1</servlet-name>
    <servlet-class>Accountant1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountant1</servlet-name>
    <url-pattern>/Accountant1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manager2</display-name>
    <servlet-name>manager2</servlet-name>
    <servlet-class>manager2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager2</servlet-name>
    <url-pattern>/manager2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>material1</display-name>
    <servlet-name>material1</servlet-name>
    <servlet-class>material1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>material1</servlet-name>
    <url-pattern>/material1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountant</display-name>
    <servlet-name>Accountant</servlet-name>
    <servlet-class>Accountant1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountant</servlet-name>
    <url-pattern>/Accountant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminser1</display-name>
    <servlet-name>Adminser1</servlet-name>
    <servlet-class>Adminser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminser1</servlet-name>
    <url-pattern>/Adminser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminser12</display-name>
    <servlet-name>Adminser12</servlet-name>
    <servlet-class>Adminser12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminser12</servlet-name>
    <url-pattern>/Adminser12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountser1</display-name>
    <servlet-name>Accountser1</servlet-name>
    <servlet-class>Accountser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountser1</servlet-name>
    <url-pattern>/Accountser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>billser</display-name>
    <servlet-name>billser</servlet-name>
    <servlet-class>billser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billser</servlet-name>
    <url-pattern>/billser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saleser</display-name>
    <servlet-name>Saleser</servlet-name>
    <servlet-class>Saleser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saleser</servlet-name>
    <url-pattern>/Saleser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saleser1</display-name>
    <servlet-name>Saleser1</servlet-name>
    <servlet-class>Saleser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saleser1</servlet-name>
    <url-pattern>/Saleser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saleser11</display-name>
    <servlet-name>Saleser11</servlet-name>
    <servlet-class>Saleser11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saleser11</servlet-name>
    <url-pattern>/Saleser11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saleserver</display-name>
    <servlet-name>Saleserver</servlet-name>
    <servlet-class>Saleserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saleserver</servlet-name>
    <url-pattern>/Saleserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addquiz</display-name>
    <servlet-name>Addquiz</servlet-name>
    <servlet-class>Addquiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addquiz</servlet-name>
    <url-pattern>/Addquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addquiz1</display-name>
    <servlet-name>Addquiz1</servlet-name>
    <servlet-class>Addquiz1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addquiz1</servlet-name>
    <url-pattern>/Addquiz1</url-pattern>
  </servlet-mapping>
</web-app>